.container .product-details {
    padding: 32px;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 1%, rgba(68,67,67,0.5) 50%, rgba(204,204,204,0.5) 100%);
    border-radius: 12px;

    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container .product-details p {
    color: #00000078;
    text-align: start;
}

.container .product-details span {
    font-weight: 700;
    font-size: 32px;
    text-align: start;
    width: 100%;
    color: #303030;
    display: block;

}

.container .product-details h2 {
    text-align: start;
    font-size: 32px;
    color: #303030;
    font-weight: 600;

    margin-bottom: 14px;
}